name: Docker Python CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  docker-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t python-app:test .

      - name: Run tests inside Docker
        run: docker run python-app:test
      
  docker-push:
      needs: docker-ci
      runs-on: ubuntu-latest
      if: github.ref == 'refs/heads/main'
      steps:
        - uses: actions/checkout@v4
        - run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
        - run: |
            IMAGE=ghcr.io/${{ github.repository_owner }}/python-app:latest
            docker build -t $IMAGE .
            docker push $IMAGE
